body
{
    background-color: rgb(185, 148, 247);/*mediumslateblue;*/
}
.container 
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
div
{
    display: inline-block;
}
ul 
{
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

li 
{
  list-style-type: none;
  width: 100%;
}

li:last-child 
{
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.row-body
{
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}


select:focus 
{
    outline: 0.15em solid #8caee6;
    box-shadow: 0 0 0.2em #537dc2;
}

select 
{
    padding: 10px 8px;
}
option
{
    font-size: 10px;
    color: violet;
}

a, input [type=button], input[type=submit], input[type=reset] 
{
  background-color: white;
  border: none;
  color: black;
  padding: 4px 16px;
  text-decoration: none;
  margin: 20px 0px;
  cursor: pointer;
}
.content_block 
{
    display: none; 
    width: 100%; 
    height: 50px;
}
.logo
{
background-repeat: no-repeat;
display: block;
font-size: 50px;
font-weight: 900;
margin-bottom: 30px;
}
h4
{
    margin: 20px 0;
}
p
{
    margin-top: 10px;
}